@import '@/constants.scss';

.container {
    height: 100%;

    .inner {
        padding: $detection-detail-panel-padding;

        display: flex;
        flex-direction: column;
        gap: 16px;

        .general-informations {
            .general-informations-item {}

            .mantine-Accordion-panel {}

            .general-informations-content {
                .general-informations-content-item {
                    display: flex;
                    gap: 8px;
                    font-size: 0.85rem;
                    align-items: center;
                    justify-content: flex-start;

                    &:not(:last-of-type) {
                        margin-bottom: 8px;
                    }
                }

                .general-informations-content-item-icon {
                    flex-shrink: 0;
                }

                .general-informations-content-item-text {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    &.general-informations-content-item-text-grey {
                        color: var(--mantine-color-gray-7);
                    }
                }
            }
        }

        .top-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            align-items: center;
        }
    }
}

.loader {
    height: 100%;
}