@import '@/constants.scss';

$margin-sides: 10px;

.content {
    z-index: 1000;

    max-width: calc(100% - 2 * $margin-sides);
    width: 1000px;

    top: 58px; // 10px margin of searchar bar + 48px total size of search bar

    margin-left: $margin-sides;
    margin-top: $margin-sides;

    .empty-filter-text {
        font-style: italic;
        margin-top: var(--mantine-spacing-xs);
    }

    .form {
        padding-bottom: 0;
    }
}

.container {
    box-shadow: $shadow;
    background: #ffffff;
    border-radius: $border-radius-small;
}

.statuses-filters-container {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-xl);
    flex-wrap: wrap;
}

.score-slider-value-container {
    display: flex;
    align-items: center;

    .score-slider {
        flex: 1;

        margin-right: var(--mantine-spacing-xs);
    }
}

.prescription-selection-container {
    width: 100%;
}

.filters-container {
    display: flex;
    flex-direction: row;

    gap: var(--mantine-spacing-xl);

    white-space: nowrap;

    .filters-section {
        flex: 1;
    }
}