@import '@/constants.scss';

$margin-sides: 10px;

.content {
    z-index: 95;

    max-width: calc(100% - 2 * $margin-sides);
    width: 1000px;

    top: 58px; // 10px margin of searchar bar + 48px total size of search bar

    margin-left: $margin-sides;
    margin-top: $margin-sides;

    .empty-filter-text {
        font-style: italic;
        margin-top: var(--mantine-spacing-xs);
    }

    .form {
        padding-bottom: 0;
    }
}

.container {
    box-shadow: $shadow;
    background: #ffffff;
    border-radius: $border-radius-small;
}
