@import '@/constants.scss';

.content-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    min-height: 100vh;
    height: 100vh;

    .content {
        height: 100%;

        width: 100%;
        max-width: var(--mantine-breakpoint-xl);
    }
}
