$space-between-elements: 16px;

.filters-section {
    margin-bottom: $space-between-elements;
}

.error-card {
    margin-bottom: $space-between-elements;
}

.table-container {
    position: relative;
    margin-bottom: $space-between-elements;

    .table {
        td {
            vertical-align: top;
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.items-clickable {
    tbody {
        tr {
            cursor: pointer;
        }
    }
}
