@import '@/constants.scss';

.button {
    border-radius: $border-radius-small !important;
}

.content {
    box-shadow: $shadow;

    position: absolute;
    z-index: 100;

    border-radius: $border-radius-medium;

    background: #ffffff;

    padding: 24px;

    display: none;

    &.showed {
        display: block;
    }
}
