@import '@/constants.scss';

.content {
    bottom: 75px; // 19px (mapbox logo) + 10px (mapbox margin) + 20px (switch height) + 10px (switch margin) + 16px (switch padding)
    left: 0;

    margin-left: 10px;
    margin-bottom: 10px;

    .empty-filter-text {
        margin-top: var(--mantine-spacing-sm);
    }

    .form {
        padding-bottom: 0;
    }
}

.legends-container {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-md);

    .legends-column {
        display: flex;
        flex-direction: column;
        gap: var(--mantine-spacing-md);
    }

    .legends {
        list-style-type: none;
        padding: 0;
        margin: 0;

        margin-top: var(--mantine-spacing-sm);

        .legend-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;

            &:not(:last-of-type) {
                margin-bottom: var(--mantine-spacing-xs);
            }

            .legend-item-square {
                border: 2px solid;

                width: 16px;
                height: 16px;
            }

            .legend-item-square-dashed {
                border-style: dashed;
            }
        }
    }
}

.container {
    padding: 8px 12px;

    box-shadow: $shadow;
    background: #ffffff;
    border-radius: $border-radius-medium;
}
