.container {
    border-color: var(--mantine-color-red-outline) !important;
    color: var(--mantine-color-red-text) !important;

    background-color: var(--mantine-color-red-1) !important;

    .title {
    }

    .content {
    }
}
