.container {
    border-color: var(--mantine-color-red-outline);
    color: var(--mantine-color-red-text);

    background-color: var(--mantine-color-red-1);

    .title {
    }

    .content {
    }
}
