@import '@/constants.scss';

.content {
    bottom: 46px; // 20px (switch height) + 10px (switch margin) + 16px (switch padding)
    left: 0;

    margin-left: 10px;
    margin-bottom: 10px;

    padding: 0;
}

.container {
    margin: 0 0 10px 10px;

    padding: 8px 12px;

    box-shadow: $shadow;
    background: #ffffff;
    border-radius: $border-radius-medium;
}

.button {
    --button-radius: 24px;
}
