@import '@/constants.scss';

.container {
    top: 0;
    padding-right: 0;

    &.has-subheader {
        border: none;
    }

    .avatar-button {
        border: 0;

        cursor: pointer;
    }

    .logo-container {
        display: flex;
        align-items: center;
        height: 100%;

        &:hover {
            background-color: var(--mantine-color-gray-0);
        }

        img {
            padding: 8px;
        }
    }
}

.menu {
    padding: 16px !important;
}

.user-infos {
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: $content-padding;
    padding-left: $content-padding;

    cursor: pointer;

    &:hover {
        background-color: var(--mantine-color-gray-0);
    }

    .user-infos-details {
        margin-right: var(--mantine-spacing-md);

        .user-infos-details-email,
        .user-infos-details-role {
            text-align: end;
        }

        .user-infos-details-email {
            font-weight: 700;
            font-size: 0.9rem;
        }
        .user-infos-details-role {
            font-size: 0.75rem;
        }
    }
}
