@import '@/constants.scss';

.container {
    top: 0;

    &.has-subheader {
        border: none;
    }

    .avatar-button {
        border: 0;

        cursor: pointer;
    }

    .logo-container {
        display: flex;
        align-items: center;
        height: 100%;

        &:hover {
            background-color: var(--mantine-color-gray-0);
        }

        img {
            padding: 8px;
        }
    }
}

.menu {
    padding: 16px !important;

    .menu-email {
        font-size: 1rem;
        font-weight: 700;
    }
    
    .menu-role {
        font-size: 0.8rem;
        text-transform: uppercase;
    }
    
    .menu-role {
        color: var(--menu-item-color, var(--mantine-color-text));
    }
}
