@import '@/constants.scss';

.container {
    top: 0;

    &.has-subheader {
        border: none;
    }

    .avatar-button {
        border: 0;

        cursor: pointer;
    }
}

.menu-email {
    font-size: 1.2rem;
}

.menu-role {
    color: var(--menu-item-color, var(--mantine-color-text));
}
