@import '@/constants.scss';


.content {
    bottom: 75px; // 19px (mapbox logo) + 10px (mapbox margin) + 20px (switch height) + 10px (switch margin) + 16px (switch padding)
    left: 0;

    margin-left: 10px;
    margin-bottom: 10px;

    padding: 8px 12px;
    border-radius: 18px;

    .controller {
        background: #ffffff;
    }
}
