@import '@/constants.scss';

.detection-tile-preview-container-wrapper {
    display: flex;
    flex-direction: column;

    .detection-tile-preview-title {
        padding: 0 4px;

        margin-top: 4px;

        text-align: center;
    }

    .detection-tile-preview-date {
        color: var(--mantine-color-dark-filled);
        font-style: italic;
        text-align: center;
    }
}
