@import '@/constants.scss';

.detection-tile-preview-wrapper {
    display: flex;
    flex-direction: column;

    .detection-tile-preview-container {
        position: relative;

        .detection-tile-preview-controls {
            display: flex;
            align-items: center;
            justify-content: center;

            gap: var(--mantine-spacing-xs);
        }
    }

    .detection-tile-preview-title {
        padding: 0 4px;

        margin-top: 4px;

        text-align: center;
    }

    .detection-tile-preview-date {
        color: var(--mantine-color-dark-filled);
        font-style: italic;
        text-align: center;
    }
}
