@import '@/constants.scss';

.content {
    width: 400px;

    top: 58px; // 10px margin of searchar bar + 48px total size of search bar

    margin-left: 10px;
    margin-top: 10px;

    .empty-filter-text {
        margin-top: var(--mantine-spacing-sm);
    }

    .form {
        padding-bottom: 0;
    }
}

.container {
    box-shadow: $shadow;
    background: #ffffff;
    border-radius: $border-radius-small;
}

.layers-section {
    .layers-section-title {
        margin-top: var(--mantine-spacing-sm);

        &:first-letter {
            text-transform: uppercase;
        }
    }

    .layers-section-group {
        margin-top: var(--mantine-spacing-xs);
    }
}

.checkbox-label {
    display: flex;
    align-items: center;
}