.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    .label {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 8px;
    }
    .icon {
    }
}
