@import '@/constants.scss';


.statuses-filters-container {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-xl);
    flex-wrap: wrap;
}

.score-slider-value-container {
    display: flex;
    align-items: center;

    .score-slider {
        flex: 1;

        margin-right: var(--mantine-spacing-xs);
    }
}

.prescription-selection-container {
    width: 100%;
}

.filters-container {
    display: flex;
    flex-direction: row;

    gap: var(--mantine-spacing-xl);

    white-space: nowrap;

    .filters-section {
        flex: 1;
    }
}