.detection-tile-preview-form-container {
    position: relative;
    padding-top: var(--mantine-spacing-md);

    .detection-tile-preview-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form {
        margin-top: var(--mantine-spacing-md);

        .detection-validation-status-select-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            gap: var(--mantine-spacing-sm);

            margin-top: 4px;

            &.disabled {
                opacity: 0.7;
                pointer-events: none;
            }
        }
    }
}

.title {
    margin-bottom: var(--mantine-spacing-sm);
}
