$shadow: 0 0 10px 2px #00000019;

/* sizes */

$header-height: 60px;
$content-padding: 16px;

$border-radius-medium: 24px;
$border-radius-small: 8px;

$detection-detail-panel-width: 500px;
$detection-detail-panel-padding: 24px;

$tile-preview-detail-gap: 8px;
$tile-preview-detail-size: calc(
    ($detection-detail-panel-width - $detection-detail-panel-padding) / 3 - 2 * $tile-preview-detail-gap
);
