@import url('@mantine/core/styles.css');
@import url('@mantine/dates/styles.css');
@import url('@mantine/notifications/styles.css');

@import url('mapbox-gl/dist/mapbox-gl.css');
@import '@/constants.scss';

// css reset

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        transition: none;
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    overflow-x: hidden;
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

// custom css

.form-actions {
    margin-top: var(--mantine-spacing-xl);

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--mantine-spacing-md);
}

.form-sub-title {
    margin-top: var(--mantine-spacing-xl);
}

.form-sub-sub-title {
    margin-top: var(--mantine-spacing-md);
}

form {
    padding-bottom: var(--mantine-spacing-xl);

    &.compact {
        padding-bottom: 0;

        .form-actions {
            margin-top: var(--mantine-spacing-md);
        }
    }
}

table {
    .empty-results-cell {
        text-align: center;
    }

    .color-cell {
        display: flex;
        align-items: center;

        gap: 8px;
    }
}

a:focus {
    outline: 2px solid rgba(33, 225, 155, 0.5) !important;
    outline-offset: 1px !important;
}

header {
    height: $header-height;

    position: fixed;

    right: 0;
    left: 0;

    display: flex;

    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--mantine-color-gray-3);
    background: #ffffff;

    z-index: 10;

    .navigation-items {
        height: 100%;

        white-space: nowrap;

        display: flex;
        align-items: center;
        justify-content: start;

        .navigation-items-divider {
            margin-left: $content-padding;
            margin-right: $content-padding;
        }
    }
}

.input-label {
    font-weight: 500 !important;
    font-size: var(--input-label-size, var(--mantine-font-size-sm)) !important;
}

// mantine

.mantine-Pagination-root {
    padding-bottom: var(--mantine-spacing-xl);
}

.mantine-MultiSelect-dropdown {
    z-index: 500 !important;
}

.multiselect-pills-hidden {
    .mantine-MultiSelect-pill {
        display: none;
    }
}

.mantine-Notifications-notification {
    box-shadow: $shadow;
    border-radius: $border-radius-small;
}

.mantine-ScrollArea-viewport {
    padding-bottom: 0;
}

// mapbox

.mapboxgl-ctrl-logo {
    display: none !important;
}

.mapboxgl-ctrl-attrib {
    display: none !important;
}

.mapboxgl-canvas {
    width: 100% !important;
}

.mapboxgl-ctrl-geocoder {
    border-radius: $border-radius-medium;
    min-width: 300px !important;
    max-width: 100%;

    .suggestions {
        border-radius: $border-radius-medium;
    }

    .mapboxgl-ctrl-geocoder--input {
        border-radius: $border-radius-medium;
        height: 48px;
        padding: 14px 42px;
    }

    .mapboxgl-ctrl-geocoder--powered-by {
        display: none !important;
    }

    .mapboxgl-ctrl-geocoder--icon {
        top: 14px;
        left: 14px;

        &.mapboxgl-ctrl-geocoder--icon-loading {
            top: 14px;
            right: 14px;
            left: unset;
        }
    }

    .mapboxgl-ctrl-geocoder--button {
        display: none !important;

        top: 14px;
        right: 14px;
    }
}

.mapboxgl-ctrl:not(.mapboxgl-ctrl-geocoder):not(.mapboxgl-ctrl-scale) {
    border-radius: $border-radius-small;

    .mapboxgl-ctrl-icon {
        opacity: 0.7;
    }
}

.mapboxgl-ctrl-geocoder--input:focus {
    outline: 2px solid rgba(33, 225, 155, 0.5) !important;
    outline-offset: 1px !important;
}

.mapboxgl-ctrl-top-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mapboxgl-ctrl-group {
    box-shadow: none !important;
}

.mapboxgl-ctrl-group {
    box-shadow: $shadow !important;
}

.mapbox-gl-draw_ctrl-draw-btn {
    height: 36px !important;
    width: 36px !important;

    opacity: 0.575;
}

// custom

$tile-size: 256px;
$tile-scale: calc($tile-preview-detail-size / $tile-size);
$tile-margin: calc(-1 * ($tile-size * (1 - $tile-scale)) / 2);

// we do all this because we want to display previews with 256px width to get the right tiles

.detection-tile-preview-detail-container {
    height: $tile-size;
    width: $tile-size;

    transform: scale($tile-scale);

    margin-top: $tile-margin;
    margin-left: $tile-margin;
}

.detection-tile-preview-detail {
    width: $tile-preview-detail-size;
    height: $tile-preview-detail-size;

    border-radius: $border-radius-medium;

    overflow: hidden;
}

.detection-tile-preview-title {
    width: $tile-preview-detail-size;
}