@import url('@mantine/core/styles.css');
@import url('@mantine/dates/styles.css');

@import url('mapbox-gl/dist/mapbox-gl.css');
@import '@/constants.scss';

// css reset

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.2rem;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        transition: none;
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

// custom css

form {
    padding-bottom: 32px;
}

header {
    height: $header-height;

    position: fixed;

    right: 0;
    left: 0;

    padding-left: $content-padding;
    padding-right: $content-padding;

    display: flex;

    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--mantine-color-gray-3);
    background: #ffffff;

    z-index: 10;

    .navigation-items {
        white-space: nowrap;

        display: flex;
        align-items: center;
        justify-content: start;

        .navigation-items-divider {
            margin-left: $content-padding;
            margin-right: $content-padding;
        }
    }
}

.admin-subheader {
    top: $header-height;
}

.form-actions {
    margin-top: var(--mantine-spacing-xl);

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--mantine-spacing-md);
}

.mantine-Pagination-root {
    padding-bottom: var(--mantine-spacing-xl);
}

// mantine

.mantine-MultiSelect-dropdown {
    z-index: 500 !important;
}
