@import '@/constants.scss';

$panel-position-from-borders: 10px;

.container {
    height: 100%;

    .map-detection-detail-panel-container {
        position: absolute;

        box-shadow: $shadow;

        top: $panel-position-from-borders;
        right: $panel-position-from-borders;
        bottom: $panel-position-from-borders;

        width: $detection-detail-panel-width;
        max-width: calc(100% - 2 * $panel-position-from-borders);
        border-radius: $border-radius-medium;

        z-index: 100;
        background: #ffffff;
    }
}
