@import '@/constants.scss';

$panel-position-from-borders: 10px;

.container {
    height: 100%;

    .map-detection-detail-panel-container {
        position: absolute;

        box-shadow: $shadow;

        top: $panel-position-from-borders;
        right: $panel-position-from-borders;
        bottom: $panel-position-from-borders;

        width: $detection-detail-panel-width;
        max-width: calc(100% - 2 * $panel-position-from-borders);
        border-radius: $border-radius-medium;

        z-index: 100;
        background: #ffffff;
    }
}

.detections-loader-container {
    box-shadow: $shadow;
    background-color: #ffffff;

    position: absolute;
    z-index: 90;

    border-radius: $border-radius-medium;

    top: 68px; // searchbar: 48px + margin searchbar: 10px + distance from searchbar: 10px 
    left: 10px;

    padding: 8px;

    height: calc(16px + 1.375rem * var(--mantine-scale)); // var(--loader-size-sm)

    display: flex;
    align-items: center;
    justify-content: center;

    .detections-loader-text {
        margin-left: var(--mantine-spacing-xs);
    }
}
